<div class= "container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">El Aguila y La Serpiente</h1>
    <p class="lead">Somos el producto del 2020: horas interminables de aburrimiento,  seguido por horas de programacion.</b>Somos un grupo de amigos representando
      al norte, queremos traer las noticias y novedades con un toque muy diferente y sencillamente muy del NORTE.</p>
    <hr class="my-4">
  </div>
</div>
