<div class= "container" id="home-container">
    <% if sesion_iniciada? %>
  
    <% else %>
    <div class="jumbotron text-center">
      <h1 class="display-4">El Aguila y La Serpiente</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <%= link_to "Registrarse", registrarse_path, class: "btn btn-success btn-lg" %>
    </div>
    <% end %>
</div>


<div class="flickr_pagination">
  <%= will_paginate @articulo, :container => false %>
</div>

<%= render 'articulos/articulos' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articulo, :container => false %>
</div>
