<div class= "container" id="home-container">
    <% if sesion_iniciada? %>

    <% else %>
    <div class="jumbotron text-center">
      <h1 class="display-4">El Aguila y La Serpiente</h1>
      <p class="lead">Bienvenido a EL AGUILA Y LA SERPIENTE Tu fuente no informativa desde sociales hasta politica y deportes considera registrarte y se parte del grupo</p>
      <hr class="my-4">
      <%= link_to "Registrarse", registrarse_path, class: "btn btn-success btn-lg" %>
    </div>
    <% end %>
</div>


<div class="flickr_pagination">
  <%= will_paginate @articulo, :container => false %>
</div>

<%= render 'articulos/articulos' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articulo, :container => false %>
</div>
