<div class= "container" id="home-container">
    <h1>Edita El Articulo</h1>
    <h2><small>No Te Preocupes Todos Cometemos Errores</small></h2>

<%= render 'form' %>

<p>
  <%= link_to 'Cancelar Cambio', articulos_path %>
</p>
</div>
