<div class= "container" id="show-container">
  <h1 class = "text-center">Crea Un Articulo Nuevo</h1>

  <%= render 'form' %>

  <button type="button" class="btn btn-outline-primary">
    <%= link_to 'Regresar Al Listado', articulos_path %>
  </button>
</div>
